/* src/App.css */

/* .staff {
    text-align: center;
}

.staff-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select,
textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

.fas {
    margin-left: 5px;
} */